.reviews-section {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  margin-top: var(--space-5);
  text-align: start;
}

.reviews-section-title {
  font-size: var(--font-size-xl);
  font-weight: 700;
  color: var(--color-secondary-dark);
}

.reviews-section-subtitle {
  font-size: var(--font-size-base);
  font-weight: 700;
  color: var(--color-neutral-900);
  margin-bottom: var(--space-3);
}

.reviews-section-card {
  width: 100%;
}
